:host{
    display: flex;
    flex-direction: column;
}

.crawlstats{
    display: flex;
}

.counters {
    display: flex;
    flex-direction: column;
}

.counters mat-card {
    margin: 5px;
}

.counters .mat-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.crawlchart {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px;
}

.crawlchart .chart {
    display: flex;
    flex: 1;
}