.mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counters{
    display:flex;
    flex-direction: row;
}

.crawlchart{
    display: flex;
    flex-direction: column;
}

.chart{
    display: flex;
    max-height: 100%;
}