:host{
    display: flex;
}

.untagged{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.untagged .list{
    margin: 1px;
    overflow: scroll;  
    flex: 1;
}

.details{
    display: flex;
    flex-direction: column;
}